{% extends "base.html" %}

{% block content %}

<!-- ENCABEZADO -->
<section class="py-5 border-bottom">
    <div class="container">

        <h1 class="fw-bold mb-2">
            Contáctanos
        </h1>

        <nav style="font-size:14px;">
            <a href="/">Home</a>
            /
            <span class="text-success">Contáctanos</span>
        </nav>

    </div>
</section>

<!-- FORMULARIO -->
<section class="py-5">
    <div class="container">

        <form>

            <div class="row g-4">

                <div class="col-md-6">
                    <label class="form-label">
                        Nombres y Apellidos
                    </label>

                    <input type="text" class="form-control">
                </div>

                <div class="col-md-6">
                    <label class="form-label">
                        Email
                    </label>

                    <input type="email" class="form-control">
                </div>

                <div class="col-md-4">
                    <label class="form-label">
                        Departamento
                    </label>

                    <select class="form-select">
                        <option selected>
                            Por favor, seleccione una opción
                        </option>
                        <option>La Libertad</option>
                        <option>Lima</option>
                        <option>Piura</option>
                    </select>
                </div>

                <div class="col-md-4">
                    <label class="form-label">
                        Compañía
                    </label>

                    <input type="text" class="form-control">
                </div>

                <div class="col-md-4">
                    <label class="form-label">
                        Móvil
                    </label>

                    <input type="text" class="form-control">
                </div>

                <div class="col-12">
                    <label class="form-label">
                        Mensaje
                    </label>

                    <textarea class="form-control"
                              rows="5"></textarea>
                </div>

                <div class="col-12 mt-3">
                    <button class="btn btn-success px-4">
                        Enviar Mensaje
                    </button>
                </div>

            </div>

        </form>

    </div>
</section>

<!-- DIRECCIÓN -->
<section class="pb-3">
    <div class="container text-center">

        <p class="mb-0">
            Jr. Alfonso Ugarte 310
        </p>

    </div>
</section>

<!-- MAPA -->
<section>

    <iframe
        src="https://www.google.com/maps?q=Jirón+Alfonso+Ugarte+310+Trujillo&output=embed"
        width="100%"
        height="450"
        style="border:0;"
        allowfullscreen=""
        loading="lazy">
    </iframe>

</section>

{% endblock %}