{% load static %}

<section class="courses py-5">

    <div class="container">

        <div class="section-header text-center mb-5">

            <h2 class="section-title">Eventos en vivo</h2>

        </div>

        <div class="row g-4">

            <!-- Curso 1-->
            <div class="col-lg-4 col-md-6">

                <div class="course-card">

                    <div class="course-image-wrapper">
                        <img src="{% static 'home/img/cursos/curso1.jpg' %}" class="course-image" alt="">
                    </div>

                    <div class="course-body">

                        <span class="course-status">
                            En Vivo
                        </span>

                        <h5 class="course-title">
                            Curso Ley General de Contrataciones Públicas
                        </h5>

                        <div class="course-info">

                            <span>
                                <i class="bi bi-clock-fill text-danger"></i>
                                120H
                            </span>

                            <span>
                                <i class="bi bi-calendar-week-fill text-success"></i>
                                7 Semanas
                            </span>

                        </div>

                        <div class="course-date">

                            <i class="bi bi-calendar-event-fill text-warning"></i>

                            30/07/2026

                        </div>

                        <hr>

                        <div class="course-footer">

                            <img src="{% static 'assets/img/logo.png' %}" width="38">
                            
                            <span>IAGP</span>

                        </div>

                    </div>

                </div>

            </div>


            <!-- Curso 2-->
            <div class="col-lg-4 col-md-6">

                <div class="course-card">

                    <div class="course-image-wrapper">
                        <img src="{% static 'home/img/cursos/curso2.jpg' %}" class="course-image" alt="">
                    </div>

                    <div class="course-body">

                        <span class="course-status">
                            En Vivo
                        </span>

                        <h5 class="course-title">
                            Curso Ley General de Contrataciones Públicas
                        </h5>

                        <div class="course-info">

                            <span>
                                <i class="bi bi-clock-fill text-danger"></i>
                                120H
                            </span>

                            <span>
                                <i class="bi bi-calendar-week-fill text-success"></i>
                                7 Semanas
                            </span>

                        </div>

                        <div class="course-date">

                            <i class="bi bi-calendar-event-fill text-warning"></i>

                            30/07/2026

                        </div>

                        <hr>

                        <div class="course-footer">

                            <img src="media/logo.png" width="28">

                            <span>IAGP</span>

                        </div>

                    </div>

                </div>

            </div>


        </div>

    </div>

</section>