    <section class="teachers py-5">

        <div class="container">

            <div class="section-header text-center mb-5">
                <span class="section-subtitle">
                    Nuestro Equipo
                </span>

                <h2 class="section-title">
                    Plana Docente
                </h2>
            </div>

            <div class="row g-4">

                <div class="col-lg-3 col-md-6">
                    <div class="teacher-card">

                        <div class="teacher-image">
                            <img src="media/docentes/docente1.jpg" alt="Docente">
                        </div>

                        <div class="teacher-body">

                            <span class="teacher-badge">
                                Docente
                            </span>

                            <h5 class="teacher-name">
                                Vlado Castañeda Gonzáles
                            </h5>

                            <hr>

                            <div class="teacher-footer">

                                <img src="media/logo.png" alt="Logo">

                                <span>IAGP</span>

                            </div>

                        </div>

                    </div>
                </div>



                <div class="col-lg-3 col-md-6">
                    <div class="teacher-card">

                        <div class="teacher-image">
                            <img src="media/docentes/docente2.jpg" alt="Docente">
                        </div>

                        <div class="teacher-body">

                            <span class="teacher-badge">
                                Docente
                            </span>

                            <h5 class="teacher-name">
                                Víctor Villanueva Sandoval
                            </h5>

                            <hr>

                            <div class="teacher-footer">

                                <img src="media/logo.png" alt="Logo">

                                <span>IAGP</span>

                            </div>

                        </div>

                    </div>
                </div>



                <div class="col-lg-3 col-md-6">
                    <div class="teacher-card">

                        <div class="teacher-image">
                            <img src="media/docentes/docente3.jpg" alt="Docente">
                        </div>

                        <div class="teacher-body">

                            <span class="teacher-badge">
                                Docente
                            </span>

                            <h5 class="teacher-name">
                                Leyli Aguilar Ventura
                            </h5>

                            <hr>

                            <div class="teacher-footer">

                                <img src="media/logo.png" alt="Logo">

                                <span>IAGP</span>

                            </div>

                        </div>

                    </div>
                </div>


                <div class="col-lg-3 col-md-6">
                    <div class="teacher-card">

                        <div class="teacher-image">
                            <img src="media/docentes/docente4.jpg" alt="Docente">
                        </div>

                        <div class="teacher-body">

                            <span class="teacher-badge">
                                Docente
                            </span>

                            <h5 class="teacher-name">
                                Héctor Inga Huamán
                            </h5>

                            <hr>

                            <div class="teacher-footer">

                                <img src="media/logo.png" alt="Logo">

                                <span>IAGP</span>

                            </div>

                        </div>

                    </div>
                </div>



            </div>

        </div>

    </section>