
/* =======================================================
   EVENTO EN VIVO - VIRTUAL
======================================================= */
.course-card{
    background:#fff;
    border-radius:10px;
    overflow:hidden;
    transition:.3s;
    box-shadow:0 5px 18px rgba(0,0,0,.08);
    height:100%;
}

.course-card:hover{
    transform:translateY(-6px);
    box-shadow:0 15px 35px rgba(0,0,0,.15);
}

.course-image-wrapper{
    padding:15px 15px 0;
}

.course-image{
    width:100%;
    height:220px;
    object-fit:cover;
    border-radius:8px;
}

.course-body{
    padding:15px;
}

.course-status{
    display:inline-block;
    background:#e8f8ec;
    color:#28a745;
    padding:4px 12px;
    border-radius:20px;
    font-size:.75rem;
    margin-bottom:12px;
}

.course-title{
    font-size:1rem;
    font-weight:600;
    line-height:1.5;
    min-height:52px;
    margin-bottom:15px;
}

.course-info{
    display:flex;
    gap:18px;
    font-size:.85rem;
    color:#555;
    margin-bottom:10px;
}

.course-date{
    font-size:.85rem;
    color:#666;
    margin-bottom:12px;
}

.course-footer{
    display:flex;
    align-items:center;
    gap:10px;
    font-size:.9rem;
    font-weight:600;
    color:#555;

    border-top:1px solid #ddd;
    padding-top:15px;
    margin-top:15px;
}


.btn-catalogo{
    display:inline-flex;
    align-items:center;
    justify-content:center;
    padding:14px 35px;
    background:linear-gradient(135deg,#0d6efd,#0a58ca);
    color:#fff;
    font-size:15px;
    font-weight:600;
    text-decoration:none;
    border-radius:50px;
    transition:all .35s ease;
    box-shadow:0 10px 25px rgba(13,110,253,.25);
    letter-spacing:.5px;
}

.btn-catalogo:hover{
    background:linear-gradient(135deg,#198754,#157347);
    color:#fff;
    transform:translateY(-4px);
    box-shadow:0 15px 30px rgba(25,135,84,.30);
}

.btn-catalogo i{
    font-size:18px;
}




