{% extends "base.html" %}

{% block title %}
    Inicio | IAGP
{% endblock %}

{% block content %}

<section class="section-hero">
    {% include "home/sections/1hero.html" %}
</section>

<section class="home-section">
    {% include "home/sections/2eventosenvivo.html" %}
</section>

<section class="home-section">
    {% include "home/sections/3eventosvirtuales.html" %}
</section>

<section class="home-section">
    {% include "home/sections/4beneficios.html" %}
</section>

<section class="home-section">
    {% include "home/sections/5docentes.html" %}
</section>

<section class="home-section">
    {% include "home/sections/6convenios.html" %}
</section>

<section class="home-section">
    {% include "home/sections/7conferenciasenvivo.html" %}
</section>

<section class="home-section">
    {% include "home/sections/8testimonios.html" %}
</section>

<section class="home-section">
    {% include "home/sections/9logros.html" %}
</section>



{% endblock %}



