{% extends "base.html" %}
{% load static %}

{% block content %}

<section class="py-5">

    <div class="container">

        <div class="row justify-content-center">

            <div class="col-lg-10">

                <!-- Imagen -->
                <img src="{% static 'assets/img/articulos/articulo1.png' %}" class="img-fluid rounded-4 shadow mb-4"
                    alt="Artículo">

                <!-- Categoría -->
                <span class="badge bg-primary px-3 py-2 mb-3">
                    Norma
                </span>

                <!-- Título -->
                <h1 class="fw-bold mb-3">
                    Normativa de Invierte.pe 
                </h1>

                <div class="d-flex flex-wrap text-muted mb-4">

                    <span class="me-4">
                        <i class="bi bi-person"></i>
                        Equipo IAGP
                    </span>

                    <span class="me-4">
                        <i class="bi bi-calendar3"></i>
                        10 agosto 2026
                    </span>

                    <span>
                        <i class="bi bi-clock"></i>
                        5 min de lectura
                    </span>

                </div>

                <hr>

                <!-- ========================= -->
                <!-- Contenido del artículo -->
                <!-- ========================= -->
                <div class="card border-0 shadow-sm mb-5">
                    <div class="card-body  p-lg-2">

                        <p class="lead">
                            Las municipalidades de centros poblados, en su mayoría ya se encuentran adecuadas, de
                            acuerdo a la primera Disposición Complementaria Transitoria de la Ley N° 31079. Esto es
                            importante dado que la adecuación permite establecer su competencia territorial, las
                            funciones delegadas, pago de dieta, así como las obligaciones de transferencia tanto de la
                            municipalidad provincial como de la municipalidad distrital.
                        </p>

                        <p>
                            El Gobierno Central a través del DS. 29-2026-EF, ha dispuesto la transferencia de recursos a
                            través del FONCOMUN (RPIF), que habilita a las Municipalidades poder realizar el gasto en
                            proyectos de inversión, pero no solo en ello, sino que en virtud al art. 4 de la Ley 32387,
                            este presupuesto que reciben las municipalidades, también puede ser materia de transferencia
                            de recursos a favor de las Municipalidades de Centros Poblados.
                        </p>

                        <h3 class="fw-bold mt-5 mb-3">
                            ¿La transferencia de recursos debe incluir el pago de la dieta del alcalde de centro
                            poblado?
                        </h3>

                        <p>
                            NO, la dieta de los alcaldes de centros poblados, se regula de conformidad al art. 131 de la
                            LOM modificado por el art. 2 de la Ley 31079, la cual le corresponderá a la municipalidad
                            distrital o provincial, solo por una de ellas dicha obligación de pago de dieta (por ello la
                            importancia de ordenanza, a fin de que regule a cargo de quien estará la misma). Hemos
                            podido advertir que en diversas municipalidades provinciales han señalado en sus ordenanzas
                            de adecuación que la dieta es parte del 50% de la transferencia de los recursos regulada por
                            el art. 133 de la LOM en su momento modificada por la ley 31079. Esto no es correcto, dado
                            que la finalidad de la transferencia de recursos en mérito al art. 133 es para el
                            cumplimiento de las funciones delegadas (no para el pago de dieta de los alcaldes).
                        </p>



                        <h3 class="fw-bold mt-5 mb-3">
                            ¿Qué sucede si las municipalidades provinciales no indicaron el monto a transferir en
                            porcentajes sino en montos concretos?
                        </h3>

                        <p>
                            Esta es otra situación que hemos podido advertir en diversas municipalidades de centros
                            poblados, que en las ordenanzas de adecuación no consignaron que la municipalidad provincial
                            y distrital deberán transferir como mínimo el 50% de la UIT de manera mensual como lo
                            señalaba la normativa, sino que establecieron montos fijos. Esto sin duda es un error grave
                            de dichas municipalidades, dado que la UIT es variante cada año fiscal, lo que podría hacer
                            incurrir en contradicciones en el cumplimiento de la ordenanza y lo que establece realmente
                            la ley.
                        </p>

                        <h3 class="fw-bold mt-5 mb-3">
                            ¿En qué momento debe cumplirse con la transferencia del 75% de la UIT a favor de las
                            Municipalidades de Centros Poblados?
                        </h3>

                        <p>
                            Previamente, debemos advertir otro grave error que pasa por la vista de muchos asesores
                            legales, es que las municipalidades en una especie de costumbre, realizan la transferencia
                            no de manera mensual como lo dispone el art. 133 de la LOM, sino cada 3 meses, 6 meses o en
                            periodos distintos a los mensuales, para evitarse burocracia o ahorro de tiempo al parecer.
                        </p>

                        <p>
                            Las transferencias deben de realizarse de manera mensual, dado que estos recursos
                            transferidos están sujetos a una rendición y un control, conforme lo señala el art. 133 y
                            134 de la LOM, hacer lo contrario vulnera el principio de transparencia y la rendición de
                            cuentas, dichas regulaciones vulneran lo establecido por la ley. Dado que si el alcalde no
                            rindiese esto da al supuesto de suspender dichas transferencias, cautelando de esta manera
                            los recursos de la entidad.
                        </p>

                        <p>
                            Ahora, respondiendo a la pregunta, la Segunda disposición complementaria modificatoria de la
                            Ley 32387 que modifica el art. 133 de la LOM, es autoaplicativa, es decir, no ha establecido
                            ninguna condicionante o reglamentación para su cumplimiento.
                        </p>

                    </div>
                </div>




                <!-- ========================= -->
                <!-- Documentos de referencia -->
                <!-- ========================= -->
                <div class="card border-0 shadow-sm">

                    <div class="card-body p-1 p-lg-3">

                        <h3 class="fw-bold mb-4">
                            <i class="bi bi-file-earmark-pdf-fill text-danger"></i>
                            Documentos de referencia
                        </h3>

                        <div class="row g-4">

                            <!-- Documento 1 -->
                            <div class="col-md-4">
                                <div class="card h-100 border">
                                    <div class="card-body text-center">

                                        <i class="bi bi-file-earmark-pdf text-danger display-4"></i>

                                        <h5 class="mt-3">
                                            Resolución N.º 880-2013-JNE
                                        </h5>

                                        <p class="text-muted small">
                                            Jurado Nacional de Elecciones
                                        </p>

                                        <div class="d-grid gap-2">

                                            <a href="{% static 'assets/pdf/Resolucion_880_2013_JNE.pdf' %}"
                                                target="_blank" class="btn btn-outline-primary">
                                                <i class="bi bi-eye"></i>
                                                Leer PDF
                                            </a>

                                            <a href="{% static 'assets/pdf/Resolucion_880_2013_JNE.pdf' %}" download
                                                class="btn btn-danger">
                                                <i class="bi bi-download"></i>
                                                Descargar
                                            </a>

                                        </div>

                                    </div>
                                </div>
                            </div>

                            <!-- Documento 2 -->
                            <div class="col-md-4">
                                <div class="card h-100 border">
                                    <div class="card-body text-center">

                                        <i class="bi bi-file-earmark-pdf text-danger display-4"></i>

                                        <h5 class="mt-3">
                                            Resolución N.º 880-2013-JNE
                                        </h5>

                                        <p class="text-muted small">
                                            Jurado Nacional de Elecciones
                                        </p>

                                        <div class="d-grid gap-2">

                                            <a href="{% static 'assets/pdf/Resolucion_880_2013_JNE.pdf' %}"
                                                target="_blank" class="btn btn-outline-primary">
                                                <i class="bi bi-eye"></i>
                                                Leer PDF
                                            </a>

                                            <a href="{% static 'assets/pdf/Resolucion_880_2013_JNE.pdf' %}" download
                                                class="btn btn-danger">
                                                <i class="bi bi-download"></i>
                                                Descargar
                                            </a>

                                        </div>

                                    </div>
                                </div>
                            </div>


                            <!-- Documento 3 -->
                            <div class="col-md-4">
                                <div class="card h-100 border">
                                    <div class="card-body text-center">

                                        <i class="bi bi-file-earmark-pdf text-danger display-4"></i>

                                        <h5 class="mt-3">
                                            Resolución N.º 880-2013-JNE
                                        </h5>

                                        <p class="text-muted small">
                                            Jurado Nacional de Elecciones
                                        </p>

                                        <div class="d-grid gap-2">

                                            <a href="{% static 'assets/pdf/Resolucion_880_2013_JNE.pdf' %}"
                                                target="_blank" class="btn btn-outline-primary">
                                                <i class="bi bi-eye"></i>
                                                Leer PDF
                                            </a>

                                            <a href="{% static 'assets/pdf/Resolucion_880_2013_JNE.pdf' %}" download
                                                class="btn btn-danger">
                                                <i class="bi bi-download"></i>
                                                Descargar
                                            </a>

                                        </div>

                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>

                </div>




                <hr class="my-5">


                <div class="card border-0 bg-light shadow-sm">
                    <div class="card-body">

                        <h5 class="fw-bold mb-3">
                            <i class="bi bi-info-circle-fill text-primary"></i>
                            Información de Norma
                        </h5>

                        <div class="row">

                            <div class="col-md-6 mb-3 mb-md-0">

                                <h6 class="fw-semibold">
                                    <i class="bi bi-link-45deg text-primary"></i>
                                    Fuente
                                </h6>

                                <p class="mb-0">
                                    <a href="https://resoluciones.jne.gob.pe/" target="_blank"
                                        class="text-decoration-none">
                                        https://resoluciones.jne.gob.pe/
                                    </a>
                                    <br>
                                    <small class="text-muted">
                                        Jurado Nacional de Elecciones
                                    </small>
                                </p>

                            </div>

                            <div class="col-md-6">

                                <h6 class="fw-semibold">
                                    <i class="bi bi-person-fill text-primary"></i>
                                    Autor
                                </h6>

                                <p class="mb-0">
                                    Abg. Helerson Dennis Rojas Bringas
                                    <br>
                                    <small class="text-muted">
                                        Equipo IAGP
                                    </small>
                                </p>

                            </div>

                        </div>

                    </div>
                </div>

                <hr class="my-5">

                <div class="d-flex justify-content-between align-items-center flex-wrap">

                    <a href="{% url 'blog:index' %}" class="btn btn-primary">
                        <i class="bi bi-arrow-left"></i>
                        Volver a las Normas
                    </a>

                </div>


            </div>

        </div>

    </div>

</section>

{% endblock %}