{% extends "base.html" %}
{% load static %}

{% block content %}

<section class="py-5">

    <div class="container">

        <div class="row justify-content-center">

            <div class="col-lg-10">

                <!-- Imagen -->
                <img src="{% static 'assets/img/articulos/articulo1.png' %}" class="img-fluid rounded-4 shadow mb-4"
                    alt="Artículo">

                <!-- Categoría -->
                <span class="badge bg-primary px-3 py-2 mb-3">
                    Noticias
                </span>

                <!-- Título -->
                <h1 class="fw-bold mb-3">
                    ALCANCES DE LOS FUNDAMENTOS DE OBSERVANCIA OBLIGATORIA EN LA NOTIFICACIÓN DE LOS ACTOS EMITIDOS EN
                    EL PROCEDIMIENTO ADMINISTRATIVO DISCIPLINARIO EN EL MARCO DE LA LEY N º 30057 – LEY DEL SERVICIO
                    CIVIL. A RAÍZ DEL PRECEDENTE VINCULANTE DE LA RSP. N. ° 002-2025-SERVIR/TSC.
                </h1>

                <div class="d-flex flex-wrap text-muted mb-4">

                    <span class="me-4">
                        <i class="bi bi-person"></i>
                        Equipo IAGP
                    </span>

                    <span class="me-4">
                        <i class="bi bi-calendar3"></i>
                        10 agosto 2026
                    </span>

                    <span>
                        <i class="bi bi-clock"></i>
                        5 min de lectura
                    </span>

                </div>

                <hr>

                <!-- ========================= -->
                <!-- Contenido del artículo -->
                <!-- ========================= -->
                <div class="card border-0 shadow-sm mb-5">
                    <div class="card-body  p-lg-2">

                        <p class="lead">
                            De conformidad al numeral 21.4 del art. 21 del TUO de la Ley 27444, la notificación personal
                            se entenderá con la persona que deba ser notificada o su representante legal, pero de no
                            hallarse presente cualquiera de los dos en el momento de entregar la notificación, podrá
                            entenderse con la persona que se encuentre en dicho domicilio, dejándose constancia de su
                            nombre, documento de identidad y de su relación con el administrado.
                        </p>

                        <p>
                            NULL
                        </p>

                        <h3 class="fw-bold mt-5 mb-3">
                            A. ¿En qué momento deben de realizarse las notificaciones en el PAD?
                        </h3>

                        <p>
                            Las notificaciones del procedimiento administrativo disciplinario deben de realizarse en día
                            y hora hábil de funcionamiento de la entidad. Cuando la notificación se realice en un día
                            inhábil, ésta se considerará válidamente efectuada el primer día hábil siguiente, momento a
                            partir del cual surtirá sus efectos.
                        </p>



                        <h3 class="fw-bold mt-5 mb-3">
                            B. ¿Cuándo es válida la notificación personal?
                        </h3>

                        <p>
                            La validez jurídica de una notificación no depende solo de entregar el documento, sino del
                            cumplimiento riguroso de las formalidades legales tales como (identificación del domicilio,
                            constancia de entrega y recepción entre otras), resultan indispensables para su validez.
                            Cualquier inobservancia sustancial de dichas formalidades puede generar invalidez de la
                            notificación y, en consecuencia, afectar la eficacia del acto que se pretende notificar, así
                            como la validez de los actos posteriores, por cuanto estaría vulnerando el derecho de
                            defensa.
                        </p>

                        <h3 class="fw-bold mt-5 mb-3">
                            C. ¿Qué escenarios se suelen presentar en el régimen de la notificación personal?
                        </h3>

                        <p>
                            El precedente vinculante nos establece 3 escenarios cuando no se pueda notificar de manera
                            directa al servidor civil, siendo estos los siguientes:
                        </p>


                        <h3 class="fw-bold mt-5 mb-3">
                            1. Cuando no se puede acceder al domicilio del servidor debido a ello la diligencia de la
                            notiﬁcación del acto se realiza en la entrada o recepción del ediﬁcio o condominio donde
                            aquél reside, entregándose la documentación al personal de portería o recepción.
                        </h3>

                        <p>
                            Cuando la notiﬁcación entregada a un tercero solo será válida si: i) quien la recibe esté
                            efectivamente dentro del domicilio del destinatario (no en áreas comunes como portería o
                            recepción); y ii) se especiﬁca claramente el vínculo entre quien recibe el documento y el
                            administrado (por ejemplo, vínculo de parentesco, relación laboral o visita circunstancial,
                            entre otros). La ausencia de cualquiera de estos elementos impide tener por cumplida la
                            ﬁnalidad de la notiﬁcación, conﬁgurándose un vicio que afecta su eﬁcacia y, por extensión,
                            la regularidad del procedimiento administrativo disciplinario.
                        </p>

                    </div>
                </div>




                <!-- ========================= -->
                <!-- Documentos de referencia -->
                <!-- ========================= -->
                <div class="card border-0 shadow-sm">

                    <div class="card-body p-1 p-lg-3">

                        <h3 class="fw-bold mb-4">
                            <i class="bi bi-file-earmark-pdf-fill text-danger"></i>
                            Documentos de referencia
                        </h3>

                        <div class="row g-4">

                            <!-- Documento 1 -->
                            <div class="col-md-4">
                                <div class="card h-100 border">
                                    <div class="card-body text-center">

                                        <i class="bi bi-file-earmark-pdf text-danger display-4"></i>

                                        <h5 class="mt-3">
                                            Resolución N.º 880-2013-JNE
                                        </h5>

                                        <p class="text-muted small">
                                            Jurado Nacional de Elecciones
                                        </p>

                                        <div class="d-grid gap-2">

                                            <a href="{% static 'assets/pdf/Resolucion_880_2013_JNE.pdf' %}"
                                                target="_blank" class="btn btn-outline-primary">
                                                <i class="bi bi-eye"></i>
                                                Leer PDF
                                            </a>

                                            <a href="{% static 'assets/pdf/Resolucion_880_2013_JNE.pdf' %}" download
                                                class="btn btn-danger">
                                                <i class="bi bi-download"></i>
                                                Descargar
                                            </a>

                                        </div>

                                    </div>
                                </div>
                            </div>

                            <!-- Documento 2 -->
                            <div class="col-md-4">
                                <div class="card h-100 border">
                                    <div class="card-body text-center">

                                        <i class="bi bi-file-earmark-pdf text-danger display-4"></i>

                                        <h5 class="mt-3">
                                            Resolución N.º 880-2013-JNE
                                        </h5>

                                        <p class="text-muted small">
                                            Jurado Nacional de Elecciones
                                        </p>

                                        <div class="d-grid gap-2">

                                            <a href="{% static 'assets/pdf/Resolucion_880_2013_JNE.pdf' %}"
                                                target="_blank" class="btn btn-outline-primary">
                                                <i class="bi bi-eye"></i>
                                                Leer PDF
                                            </a>

                                            <a href="{% static 'assets/pdf/Resolucion_880_2013_JNE.pdf' %}" download
                                                class="btn btn-danger">
                                                <i class="bi bi-download"></i>
                                                Descargar
                                            </a>

                                        </div>

                                    </div>
                                </div>
                            </div>


                            <!-- Documento 3 -->
                            <div class="col-md-4">
                                <div class="card h-100 border">
                                    <div class="card-body text-center">

                                        <i class="bi bi-file-earmark-pdf text-danger display-4"></i>

                                        <h5 class="mt-3">
                                            Resolución N.º 880-2013-JNE
                                        </h5>

                                        <p class="text-muted small">
                                            Jurado Nacional de Elecciones
                                        </p>

                                        <div class="d-grid gap-2">

                                            <a href="{% static 'assets/pdf/Resolucion_880_2013_JNE.pdf' %}"
                                                target="_blank" class="btn btn-outline-primary">
                                                <i class="bi bi-eye"></i>
                                                Leer PDF
                                            </a>

                                            <a href="{% static 'assets/pdf/Resolucion_880_2013_JNE.pdf' %}" download
                                                class="btn btn-danger">
                                                <i class="bi bi-download"></i>
                                                Descargar
                                            </a>

                                        </div>

                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>

                </div>




                <hr class="my-5">


                <div class="card border-0 bg-light shadow-sm">
                    <div class="card-body">

                        <h5 class="fw-bold mb-3">
                            <i class="bi bi-info-circle-fill text-primary"></i>
                            Información del artículo
                        </h5>

                        <div class="row">

                            <div class="col-md-6 mb-3 mb-md-0">

                                <h6 class="fw-semibold">
                                    <i class="bi bi-link-45deg text-primary"></i>
                                    Fuente
                                </h6>

                                <p class="mb-0">
                                    <a href="https://resoluciones.jne.gob.pe/" target="_blank"
                                        class="text-decoration-none">
                                        https://resoluciones.jne.gob.pe/
                                    </a>
                                    <br>
                                    <small class="text-muted">
                                        Jurado Nacional de Elecciones
                                    </small>
                                </p>

                            </div>

                            <div class="col-md-6">

                                <h6 class="fw-semibold">
                                    <i class="bi bi-person-fill text-primary"></i>
                                    Autor
                                </h6>

                                <p class="mb-0">
                                    Abg. Helerson Dennis Rojas Bringas
                                    <br>
                                    <small class="text-muted">
                                        Equipo IAGP
                                    </small>
                                </p>

                            </div>

                        </div>

                    </div>
                </div>

                <hr class="my-5">

                <div class="d-flex justify-content-between align-items-center flex-wrap">

                    <a href="{% url 'blog:index' %}" class="btn btn-primary">
                        <i class="bi bi-arrow-left"></i>
                        Volver a los noticias
                    </a>

                </div>


            </div>

        </div>

    </div>

</section>

{% endblock %}