{% extends "base.html" %}

{% block content %}

<!-- ENCABEZADO -->
<section class="py-5 border-bottom">
    <div class="container">

        <h1 class="fw-bold mb-2">
            Preinscripciones
        </h1>

        <nav style="font-size:14px;">
            <a href="/">Home</a>
            /
            <span class="text-success">Preinscripciones</span>
        </nav>

    </div>
</section>

<!-- FORMULARIO -->
<section class="py-5">
    <div class="container">

        <form method="post">
            {% csrf_token %}

            <div class="row g-4">

                <!-- DATOS PERSONALES -->

                <div class="col-md-4">
                    <label class="form-label">Nombres</label>
                    <input type="text" class="form-control" placeholder="Ingresa tus Nombres">
                </div>

                <div class="col-md-4">
                    <label class="form-label">Apellido Paterno</label>
                    <input type="text" class="form-control" placeholder="Ingresa tu Apellido Paterno">
                </div>

                <div class="col-md-4">
                    <label class="form-label">Apellido Materno</label>
                    <input type="text" class="form-control" placeholder="Ingresa tu Apellido Materno">
                </div>

                <div class="col-md-3">
                    <label class="form-label">DNI</label>
                    <input type="text" class="form-control" placeholder="Ingresa tu DNI">
                </div>

                <div class="col-md-3">
                    <label class="form-label">Sexo</label>
                    <select class="form-select">
                        <option selected>Por favor, seleccione una opción</option>
                        <option>Masculino</option>
                        <option>Femenino</option>
                    </select>
                </div>

                <div class="col-md-3">
                    <label class="form-label">Celular</label>
                    <input type="text" class="form-control" placeholder="Ingresa tu número celular">
                </div>

                <div class="col-md-3">
                    <label class="form-label">Fijo</label>
                    <input type="text" class="form-control" placeholder="Ingresa tu número fijo">
                </div>

                <div class="col-md-4">
                    <label class="form-label">Departamento</label>
                    <select class="form-select">
                        <option>Selecciona...</option>
                    </select>
                </div>

                <div class="col-md-4">
                    <label class="form-label">Provincia</label>
                    <select class="form-select">
                        <option>Por favor, seleccione una opción</option>
                    </select>
                </div>

                <div class="col-md-4">
                    <label class="form-label">Distrito</label>
                    <select class="form-select">
                        <option>Por favor, seleccione una opción</option>
                    </select>
                </div>

                <!-- CAMPUS -->

                <div class="col-12 mt-4">
                    <h2 class="fw-bold text-uppercase fs-3">
                        Cuenta para el Campus Virtual
                    </h2>
                </div>

                <div class="col-md-4">
                    <label class="form-label">Correo</label>
                    <input type="email" class="form-control" placeholder="Ingrese su correo">
                </div>

                <div class="col-md-4">
                    <label class="form-label">Contraseña</label>
                    <input type="password" class="form-control" placeholder="Crea una contraseña">
                </div>

                <!-- COMO SE ENTERÓ -->

                <div class="col-12 mt-5">
                    <h2 class="fw-bold text-uppercase fs-3">
                        ¿Cómo se enteró de nosotros?
                    </h2>
                </div>

                <div class="col-md-3">
                    <label class="form-label">Publicación</label>
                    <select class="form-select">
                        <option>Por favor, seleccione una opción</option>
                    </select>
                </div>

                <div class="col-md-4">
                    <label class="form-label">Sugiere</label>
                    <input type="text" class="form-control" placeholder="Sugiérenos un próximo evento">
                </div>

                <div class="col-md-5">
                    <label class="form-label">Lugar donde labora</label>
                    <input type="text" class="form-control" placeholder="Ingresa tu lugar actual de trabajo">
                </div>

                <!-- EVENTO -->

                <div class="col-12 mt-5">
                    <h2 class="fw-bold text-uppercase fs-3">
                        Evento a Pre-inscribirse
                    </h2>
                </div>

                <div class="col-md-8">
                    <label class="form-label">Evento</label>
                    <select class="form-select">
                        <option>Por favor, seleccione una opción</option>
                    </select>
                </div>

                <div class="col-12 mt-3">
                    <button class="btn btn-success px-4">
                        Pre-inscribirse
                    </button>
                </div>

            </div>

        </form>

    </div>
</section>

{% endblock %}